@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 9;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 98;
  left: 50%;
  transform: translateX(-50%);
  top: 3%;
  border-radius: 20px;
  height: 10vh;
  width: 50vw;
  background-color: #ffffff54;
  backdrop-filter: blur(10px);
  padding: 5px 10px;
}

#nav > img {
  width: 150px;
  cursor: pointer;
}

.button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  translate: 50%;
}

#center-nav {
  display: flex;
  flex-direction: row;
}

#center-nav > a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 1s;
}

#center-nav > a:hover {
  color: #202020;
  font-size: 14px;
  padding: 10px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

#page > h1 {
  font-size: 40px;
  position: absolute;
  z-index: 98;
  text-align: center;
  top: 38%;
  font-weight: 700;
  left: 50%;
  transform: translate(-50%, -50%);
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #e5e1dc;
}

#page1 > h1 {
  z-index: 98;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

#page1 > h4 {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  white-space: nowrap;
  color: #565656;
  z-index: 98;
}

#page2 {
  position: relative;
  /* z-index: 9; */
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

#page3 {
  position: relative;
  z-index: 98;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

#page4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 98;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  text-align: center;
  background-color: #e4e0dd;
}

#page4 > h1 {
  font-weight: 600;
  font-size: 2.7vw;
}

#page4 > h4 {
  margin-top: 20px;
  font-weight: 500;
  color: #646464;
  font-size: 1vw;
}

#page4 > p {
  font-weight: 500;
  font-size: 2vw;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
